.container {
  padding: 5px;
}

.movie {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 2px solid #ececec;
}

.poster {
  margin-right: 10px;
}

.additional {
  padding-bottom: 5px;
  border-bottom: 2px solid #ececec;
}

.goBack {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 10px;
}
